@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background:#000000;
    
}
/*posicion del menu*/
.navegacion{
    width: 100%;
    padding: 20px;
    text-align: right;
    top: 0px;
}

.navegacion ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.navegacion ul li a{
    text-decoration: none;
    color: white;
}

/*posición del logo*/
.logo_img{
    width: 360px;
    position: absolute;
    transform: translateX(10%) translateY(45%);
    
}
/*marcar el sitio donde estamos*/
.seleccion{
    background-color: rgba(255, 238, 0, 0.8);
}
/*-----estilos banner menu----*/
.banner_menu {
    position: relative;
}
.banner_menu:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner_menu_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content_menu{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*Estilos del tituo de la sección de menú*/
.titulo_menu{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 300px;
    height: 50px;
    color: #000000;
    transform: translateX(180%) translateY(20%);
}
/*Estilos de la tabla de la sección de menú*/
.tabla_menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/*-----estilos banner especiales----*/
.banner_especial {
    position: relative;
}
.banner_especial:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner_especial_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content_especial{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*Estilos del titulo de la sección de especial*/
.titulo_especial{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 300px;
    height: 50px;
    color: black;
    transform: translateX(180%) translateY(20%);
}
/*Estilos de la tabla de la sección de especial*/
.tabla_especial{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/*-----estilos banner bebidas----*/
.banner_bebidas {
    position: relative;
}
.banner_bebidas:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner_bebidas_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content_bebidas{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*Estilos del titulo de la sección de bebidas*/
.titulo_bebidas{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 900px;
    height: 50px;
    color: #000000;
    transform: translateX(45%) translateY(20%);
}
/*Estilos de la tabla de la sección de bebidas*/
.tabla_bebidas{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/*-----estilos para tabla muggle----*/
.titulo_bebidas_muggle{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 750px;
    height: 50px;
    color: #000000;
    transform: translateX(50%) translateY(20%);
}
.tabla_bebidas_muggle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/*-----estilos banner postres----*/
.banner_postres {
    position: relative;
}
.banner_postres:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner_postres_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content_postres{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*Estilos del titulo de la sección de postres*/
.titulo_postres{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 900px;
    height: 50px;
    color: #000000;
    transform: translateX(50%) translateY(20%);
}
/*Estilos de la tabla de la sección de postres*/
.tabla_postres{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/*-----estilos banner paquetes----*/
.banner_paquetes {
    position: relative;
}
.banner_paquetes:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner_paquetes_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content_paquetes{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*Estilos del titulo de la sección de paquetes*/
.titulo_paquetes{
    font-family: 'Pacifico', cursive;
    font-size: 3.0em;
    margin: 5px;
    width: 900px;
    height: 50px;
    color: #000000;
    transform: translateX(45%) translateY(20%);
}
/*Estilos de la tabla de la sección de paquetes*/
.tabla_paquetes{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 40px auto;
    width: 1300px;
}
/* Diseño de footer*/
footer{
    display: block;
    min-height: 10px;
    background: #000000;
    text-align: center;
    border-top: 5px solid #FFEE00;
    margin-top: 200px;
  }
  
  .contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #97BAA9;
  }
  .content-foo{
    text-align: center;
    text-decoration: none;
  }
  
  .content-foo h4{
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-bottom: 3px outset #FFEE00;
    padding-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
    padding-top: 5px;
  }
  
  .content-foo p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 2px #97BAA9;
  }
  
  .footer-social{
    color:white;
    font-size: 100%;
    padding: 5%;
    text-decoration: none;
  }
  
  .titulo-final{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: white;
    padding: 5px;
  }