@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background:#000000;
}
/*posicion del menu*/
.navegacion{
    width: 100%;
    padding: 20px;
    text-align: right;
    top: 0px;
}

.navegacion ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.navegacion ul li a{
    text-decoration: none;
    color: white;
}

/*posición del logo*/
.logo_img{
    width: 360px;
    position: absolute;
    transform: translateX(10%) translateY(45%);
}
/*marcar el sitio donde estamos*/
.seleccion{
    background-color: rgba(255, 238, 0, 0.8);
}
/*-----estilos banner----*/
.banner {
    position: relative;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner__content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    z-index: 1501;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
/*estilos del contenedor y el titulo de promociones*/
.contenedor_promo{
    margin: center;
    width: 1349px;
    height: 400px;
}
.promo_titulo{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.0em;
    color: black;
    text-align: center;
}
/*estilos de las fotos y medidas de acomodo*/
.promo{
    margin: 15px 18px;
    height: 279px;
    box-shadow: 0 4px 8px 0 #FFEE00;
    float: left;
    width: 301px;
}
.promo-hbd{
    margin: 15px 18px;
    height: 214px;
    box-shadow: 0 4px 8px 0 #FFEE00;
    float: left;
    width: 301px;
}
.promo-s{
    margin: 15px 18px;
    height: 244px;
    box-shadow: 0 4px 8px 0 #FFEE00;
    float: left;
    width: 301px;
}
.promo-p{
    margin: 15px 18px;
    height: 220px;
    box-shadow: 0 4px 8px 0 #FFEE00;
    float: left;
    width: 301px;
}
.foto{
    height: 219px;
}
.promo:hover{
    border: 3px solid #97BAA9;
    transform: rotate(-2deg);
}
.promo-hbd:hover{
    border: 3px solid #97BAA9;
    transform: rotate(-2deg);
}
.promo-s:hover{
    border: 3px solid #97BAA9;
    transform: rotate(-2deg);
}
.promo-p:hover{
    border: 3px solid #97BAA9;
    transform: rotate(-2deg);
}

/* Diseño de footer*/
footer{
    display: block;
    min-height: 10px;
    background: #000000;
    text-align: center;
    border-top: 5px solid #FFEE00;
    margin-top: 200px;
  }
  
  .contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #97BAA9;
  }
  .content-foo{
    text-align: center;
    text-decoration: none;
  }
  
  .content-foo h4{
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-bottom: 3px outset #FFEE00;
    padding-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
    padding-top: 5px;
  }
  .content-foo p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 2px #97BAA9;
  }
  
  .footer-social{
    color:white;
    font-size: 100%;
    padding: 5%;
    text-decoration: none;
  }
  
  .titulo-final{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: white;
    padding: 5px;
  }